:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-page {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  padding: 0 0 0 5rem;
  gap: 20%;
}

.inputs {
  flex: 1;
}

.input-section {
  display:flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.input-section > input {
  margin-bottom: 0.5em;
}

.input-section > * {
  display: flex;
  flex-direction: column;
}

.input-section > * > input {
  margin-bottom: 0.5em;
}

.editing-buttons {
  display: flex;
  gap: 0.5em;
}

.outputs {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 80vw;
  height: 85vh;
  padding-bottom: 3rem;
}

.output-display {
  flex: 6;
}

.output-display > .about-display, .education-display, .experience-display {
  text-align: left;
}

.about-display {
  margin-bottom: 3rem;
}

.display-buttons {
  display: flex;
  gap: 0.5em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dcdada;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media print {
  .display-buttons {
    display: none;
  }
}